<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>courseTitle</th>
                        <th>courseDescription</th>
                        <th>courseVenue</th>
                        <th>courseDuration</th>
                        <th>courseDate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>